body{
  background-color: bisque;
}

.grid{
  display: grid;
  margin-bottom: 20px;
  gap: 5px;
  /* grid-template-columns: repeat(auto-fill, max-content); */
  /* grid-template-columns: repeat(7, minmax(max-content, 1fr)); */
  /* grid-template-columns: repeat(7, minmax(max-content, 1fr)); */
  /* grid-template-columns: repeat(7, max-content); */
  grid-template-columns: repeat(7, min-content);
}
.item{
  background-color: yellowgreen;
  padding: 10px;
}

h1{
  display: block;
}
