.father{
  display : grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template: 
  "header content nav footer" 1fr
  ". . . ." 1fr
  ". . . ." 1fr
  ". . . ." 1fr / 1fr 1fr 1fr 1fr;
  /* justify-items: center;
  align-items: center; */
  /* place-items: center center; */
  /* place-items: end center; */
}

div{
  color: white;
  font-size: large;
}


.header{
  background-color: purple;
  grid-area: header;
}

.content{
  background-color: blue;
  grid-area: content;
}

.nav{
  background-color: red;
  grid-area: nav;
}

.footer{
  background-color: yellow;
  grid-area: footer;
}